<md-dialog aria-label="Add tag" class="dialogs">
  <md-dialog-content><h4 class="md-title">Delete Tag</h4>
    <md-input-container>
      <p>Do you really want to delete this Tag? <em>This step will remove it from ALL AREAS.  The tag itself and all references to it will be removed from all collections.</em> If that's what you want, proceed.    </p>
     </md-input-container>
   </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="closeDialog()">
      Cancel
    </md-button>
    <md-button ng-click="deleteTag(Data.currentTagIndex)">
      Delete Tag
    </md-button>
   </md-dialog-actions>
</md-dialog>

