<md-content class="transparent" layout="column" layout-gt-md="row" style="overflow: auto" layout-align="start start" flex="100" ng-controller="TagCtrl as vm"><md-card class="flex" flex="100" flex-gt-md="75" style="height: 900px">
  <md-toolbar class="md_primary">
    <div class="md-toolbar-tools">
      <span flex="20">
        <i class="material-icons">link</i>
        <span class="md-subhead">&nbsp;TAGS</span>
      </span>
      <span flex="70">
        <h2 class="md-display-2" ng-if="vm.userAreaId==0">{{vm.tag.name}}</h2>
        <h2 class="md-display-2" ng-if="vm.userAreaId&gt;0">{{vm.areaLabel}}</h2>
      </span>
      <span flex="flex"></span>
      <md-button class="md-warn md-raised md-fab md-mini" ng-show="vm.userAreaId==0" aria-label="Delete Tag" ng-click="vm.showDialog($event, vm.deleteMessage)">
        <i class="material-icons">delete</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-content>
    <div layout="row" layout-align="start start"><md-card-content flex="20">
      <md-button class="md-raised md-accent responsive-button" ng-show="vm.userAreaId==0" ng-click="vm.showDialog($event, vm.addMessage)">Add Tag</md-button>
    </md-card-content>
      <md-card-content layout="column" layout-padding="layout-padding" flex="80" flex-gt-md="80" style="padding-left: 20px">
        <div class="md-subhead grey-text" flex="80">
          <span ng-show="vm.userAreaId==0">Collections can be associated with one or more <em>Subject Tags</em>. A single Subject Tag can be used across multiple Areas. A Tag must be assigned to at least one Area.</span>
          <div style="width: 70%" ng-show="vm.userAreaId &gt; 0">Add or remove <em>Subject Tags</em> from your collection area. Note that when you add a tag it may immediately appear in the public display. If you add a tag, be sure to use it by linking it to one or more of your collections.  If you delete a tag from this collection area, all references to it will be removed from your collections.
          </div>
        </div>
      </md-card-content>
    </div><md-content layout="row" layout-align="start start">
    <md-card-content flex="20"><div layout="column" style="height:700px">
      <md-content flex="flex" ng-show="vm.userAreaId==0">
        <md-list>
          <div ng-repeat="tag in vm.tags">
            <md-list-item>
              <md-button class="md-no-style md-button nav-item-dimens md-default-theme" ng-class="{'md-primary': tag.id==vm.currentTag}" ng-click="vm.resetTag(tag.id);">
                <div class="list-group-item-text md-subhead layout-fill">{{tag.name}}
                  <div class="md-ripple-container"></div>
                </div>
              </md-button>
            </md-list-item>
            <md-divider>
            </md-divider>
          </div>
        </md-list>
      </md-content>
    </div>
    </md-card-content>
    <md-card-content class="md-subhead grey-text" flex="80" layout="column">
      <md-button class="md-raised md-accent large-button" ng-show="vm.userAreaId==0" ng-click="vm.updateTag()">Update Tag</md-button>
      <md-input-container ng-show="vm.userAreaId==0">
        <label>Tag Name</label>
        <input type="text" ng-model="vm.tag.name"/>
      </md-input-container>
      <div style="height: 507px; margin-bottom: 40px;overflow: auto;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc" flex="100" ng-show="vm.userAreaId &gt; 0">
        <md-content flex="flex">
          <md-list>
            <md-list-item ng-repeat="tag in vm.tags">
              <toggle-tag-area-button flex="100" tag-id="{{tag.id}}" tag-name="{{tag.name}}" area-id="vm.currentAreaIndex" ng-click="showDialog($event, vm.deleteMessage)"></toggle-tag-area-button>
            </md-list-item>
          </md-list>
        </md-content>
      </div>
    </md-card-content>
  </md-content>
  </md-content>
</md-card>
  <md-content class="transparent" flex="100" flex-gt-md="25">
    <tag-area-selector flex="flex" ng-show="vm.userAreaId==0">
    </tag-area-selector>
  </md-content>
</md-content>
