<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="common/stylesheets/jquery-ui-1.11.2-min.css">
  <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="common/stylesheets/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <base href="/admin/">
</head>
<body ng-cloak ng-controller="LayoutCtrl as vm">
<div layout-fill layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" style="padding-top: 8px" aria-label="Settings" ng-click="vm.toggleLeft()" hide-gt-md="true">
        <i class="material-icons">menu</i>
      </md-button>
      <span>
        <h2 class="md-display-1">Tagger</h2>
      </span>
      <span flex></span>
      <md-list ng-if="vm.userAreaId === 0">
        <md-list-item ng-style="{'display':'inline'}">
          <md-input-container class="md-no-float">
            <md-select ng-model="vm.areas" placeholder="Select Area">
              <md-option ng-repeat="area in vm.areas" ng-selected="vm.currentId == area.id" ng-click="vm.updateArea(area.id, $index)">{{area.title}}</md-option>
            </md-select>
          </md-input-container>
        </md-list-item>
      </md-list>
      <md-container ng-if="vm.userAreaId &gt; 0">
        <span class="md-subhead">Area: &nbsp;  {{vm.areaLabel}}</span>
      </md-container>
    </div>
  </md-toolbar>
  <div class="view-container" layout="row" flex>
    <div ng-view style="overflow:auto" layout="row" layout-gt-md="column" flex></div>
  </div>
</div>
</body>
<!-- build:js javascripts/main.min.js -->
<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="../bower_components/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-material/angular-material.js"></script>
<script type="text/javascript" src="../bower_components/ng-file-upload-shim/ng-file-upload-shim.min.js"></script>
<script type="text/javascript" src="../bower_components/ng-file-upload/ng-file-upload.min.js"></script>
<script type="text/javascript" src="../bower_components/d3/d3.js"></script>
<script type="text/javascript" src="app/common/context.js"></script>
<script type="text/javascript" src="app/common/controllers.js"></script>
<script type="text/javascript" src="app/controllers/collections.js"></script>
<script type="text/javascript" src="app/controllers/authorization.js"></script>
<script type="text/javascript" src="app/controllers/layout.js"></script>
<script type="text/javascript" src="app/controllers/overview.js"></script>
<script type="text/javascript" src="app/controllers/tags.js"></script>
<script type="text/javascript" src="app/controllers/types.js"></script>
<script type="text/javascript" src="app/controllers/users.js"></script>
<script type="text/javascript" src="app/controllers/areas.js"></script>
<script type="text/javascript" src="app/controllers/categories.js"></script>
<script type="text/javascript" src="app/common/services.js"></script>
<script type="text/javascript" src="app/common/environment.js"></script>
<script type="text/javascript" src="app/services/tagger.js"></script>
<script type="text/javascript" src="app/services/dialog.js"></script>
<script type="text/javascript" src="app/common/directives.js"></script>
<script type="text/javascript" src="app/directives/tagger.js"></script>
<script type="text/javascript" src="app/directives/charts.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<!-- endbuild -->

</html>
